.card {
	width: 100px;
	height: 120px;
	position: absolute;
	 box-sizing: border-box;
	outline: 0.1rem solid rebeccapurple;
}

.card.facedown {
/* 
generic cardback
 */
 background-color: aqua;
}

.card.faceup.clubs {
	background-color: black;
	color: white;
}
.card.faceup.spade {
	background-color: black;
	color: white;
}
.card.faceup.heart {
	background-color: rgb(172, 15, 15);
}
.card.faceup.diamond {
	background-color: rgb(172, 15, 15);
	color: black;
}

.pillar {
	width: 100px; /*look at this carefully shoud make responsive later*/
	position: relative;
	height: 120px;
	background-color: rgba(127, 255, 212, 0.265);
}


.board {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
}

.top {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.market .pillar {
	margin-left: 1rem;
}

.market {
	display: flex;
	margin-bottom: 1rem;
	flex-direction: row;
}