.card {
	width: 100px;
	height: 120px;
}

.card.facedown {
/* 
generic cardback
 */
 background-color: aqua;
}
.card.faceup.clubs {
	background-color: black;
}
.card.faceup.spade {
	background-color: black;
}
.card.faceup.heart {
	background-color: rgb(172, 15, 15);
}
.card.faceup.diamond {
	background-color: rgb(172, 15, 15);
}

.pillar {
	position: relative;
	min-width: 100px; /*look at this carefully*/
	height: 100%;
}

.board {
	width: 100%;
	/* height: 100%; */
	display: flex;
	justify-content: space-evenly;
}