.card {
	width: 100px;
	height: 120px;
	position: absolute;
	box-sizing: border-box;
	outline: 0.1rem solid rebeccapurple;
	border-radius: .2rem;
}

.card.facedown {
/* 
generic cardback here
 */
 background-color: aqua;
}
#drag-layer {
	pointer-events: none;
}
.card-face {
	/* font-family: 'Bodoni Moda',serif; */
	font-size: larger;
}

.card.faceup.clubs {
	background-color: black;
	color: white;
}
.card.faceup.spade {
	background-color: black;
	color: white;
}
.card.faceup.heart {
	background-color: rgb(172, 15, 15);
	color: white;
}
.card.faceup.diamond {
	background-color: rgb(172, 15, 15);
	color: black;
}

.dragging {
    pointer-events: auto;
    position: absolute;
}

.pillar {
	width: 100px; /*look at this carefully shoud make responsive later*/
	position: relative;
	height: 120px;
	background-color: rgba(127, 255, 212, 0.265);
}


.board {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
}

.top {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
}

.market .pillar, .foundation .pillar{
	margin-left: 1rem;
}

.market, .foundation {
	display: flex;
	margin-bottom: 1rem;
	flex-direction: row;
}